<html>
  <head>
    <Title>Sign Up</Title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Sign Up</h1>
    <form action="/sign-up" method="post">
      <label for="fullName">Full Name: </label>
      <input type="text" name="fullName" id="fullName" />
      <label for="username">Username: </label>
      <input
        type="email"
        name="username"
        id="username"
        placeholder="email@email.com"
      />
      <br />
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
      <label for="passwordConf">Confirm your password: </label>
      <input type="password" name="passwordConf" id="passwordConf" /> <br />
      <label for="isAdmin">Admin user? </label>
      <input type="checkbox" name="isAdmin" id="isAdmin" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
